doctype html
html(lang='en')
	head
		title File-Metadata
		link(rel='stylesheet', href='/static/stylesheets/style.css')
	body
		header
			h1 FreeCodeCamp Project: File Metadata Microservice
				a(href='https://github.com/anfelo/file-metadata-ms', target='_blank')  - (GitHub)
		section.main-wrapper
			.description
				h2 Description:
				p 
					| This is a file size microservice. By provinding a file to the form below and hitting the send button, the file size, in bytes, is returned.
				.app-wrapper
					.submit-file
						form(action='' method='post' enctype='multipart/form-data')
							input(class='button' type='file' name="fpath")
							input(class='button' type='submit' value='Send')
		footer
			p &copy;2017 by anfelo